body{
    background-color: lightblue;
}
.row{
    height: 50%;
}
/* #colorsPicker{
    border: 1px solid black;
}
#reponsesHistory{
    border: 1px solid black;
}
#colorCheck{
    border: 1px solid black;
} */